.account-header {
    padding: 1px 0px;
    background-color: #f0f0f0; /* Optional: background color */
    font-family: Arial, sans-serif; /* Optional: font style */
    border-bottom: 1px solid grey; /* Bottom border only */
}

.account-info {
    position: relative; /* Position absolutely within the container */
    top: 10px; /* Position from the top */
    margin-left: 20px;
}

.account-buttons {
    cursor: pointer;
    color: #7f7f7f;
    text-decoration: none;
    padding: 8px 20px;
    border: 0px;
    transition: #7f7f7f 0.3s ease;
}

.account-basic-info {
    display: flex;
}

.account-wallet {
    position: relative;
    left: 10px;
    top: 30px;
}

main {
    margin-left: 20px;
    margin-right: 20px;
}