main {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.main-container {
  display: flex;
}

.sidebar {
  position: fixed;
  width: 300px;
  height: 100vh;
  background-color: #333;
  color: #fff;
  padding: 20px;
  box-sizing: border-box;
}

.guide-body {
    flex: 1;
    padding-left: 330px;
    padding-right: 30px;
    box-sizing: border-box;
  }

.sidebar button {
  color: #fff;
  background-color: #333;
  text-align: left;
  width: 200px;
  padding: 8px 16px;
  display: inline-block; /* Ensure the button is inline-block */
  border: 0px;
  transition: background-color 0.3s ease;
}

.sidebar button:hover {
  background-color: #999999;
  border-radius: 4px;
}