.main-container {
  display: flex;
  height: 100vh; /* Make the container take full height of the viewport */
}

.sidebar {
  width: 300px;
  background-color: #333;
  color: #fff;
  padding: 20px;
  box-sizing: border-box;
}

.body {
    flex: 1;
    background-color: #f4f4f4;
    padding: 20px;
    box-sizing: border-box;
  }

.sidebar button {
  color: #fff;
  background-color: #333;
  text-align: left;
  width: 200px;
  padding: 8px 16px;
  display: inline-block; /* Ensure the button is inline-block */
  border: 0px;
  transition: background-color 0.3s ease;
}

.sidebar button:hover {
  background-color: #999999;
  border-radius: 4px;
}