.image-container {
    position: relative;
    display: inline-block;
  }

.homepage-featured .image-container img {
    display: block;
    width: 100vw;
    height: auto;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5); /* Translucent black background */
    color: white; /* Text color */
    text-align: left;
    padding: 10px;
    font-size: 16px; /* Adjust as needed */
    width: 300px;
  }

a {
    color: lightblue
}

.collection-title {
    font-size: x-large;
}