main {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.main-container {
  display: flex;
}

.settings-body {
  flex: 1;
  padding: 20px;
  padding-left: 330px;
}

input .your-wallet-address {
  width: 300px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}